.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 20px 30px;

  text-decoration: none;
  color: black;
  font-weight: bold;

  border-bottom: 1px solid rgba(0, 0, 0, .4);

  &:hover {
    background-color: rgba(0, 0, 0, .1);
  }
}