@import 'src/css/colors.scss';

.wrapper {
  .title {
    margin-bottom: 30px;
  }
  .list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 360px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .list-item {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 20px;

      border: 1px solid $lighter-gray;
      border-radius: 5px;
      box-shadow: 1px 1px 3px $lighter-gray;

      cursor: pointer;
      .list-item-avatar {
        width: 120px;
        height: 120px;

        border-radius: 50%;
        border: 1px solid $lighter-gray;

        background: rgba(0, 0, 0, .1);
      }
      .list-item-name {
        margin-top: 20px;
        font-weight: bold;
      }
      &:hover,
      &.selected {
        border: 1px solid rgba(0, 0, 0, 1)
      }
    }
  }
}