.modal {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  .modal-content {
    position: absolute;

    max-width: 500px;
    max-height: 100%;
    width: 100%;

    overflow-y: auto;
    border-radius: 5px;
    z-index: 2;
    background-color: white;
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    z-index: 1;
    background: rgba(0, 0, 0, .5);
  }
}