.list {
  width: 100%;
  margin: 30px 0;

  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 3px;
  .list-item {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100%;
    padding: 30px 20px;

    border-bottom: 1px solid rgba(0, 0, 0, .3);
    line-height: 30px;

    &:last-child {
      border-bottom: none;
    }
    .list-item-title,
    .list-item-info-author {
      font-weight: bold;
    }
    .list-item-title {
      margin-right: 20px;

      text-align: left;
    }
    .list-item-info {
      text-align: right;
    }
  }
}